@model PetLove.Data.Entities.Cliente

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<flash dismissable="true" />

<h4>Cliente</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.FullName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FullName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Document)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Document)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Address)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Address)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PhoneNumber)
    </dd>
</dl>

<partial name="_AddOrEditDialog" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/showmodal.js"></script>

    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Clientes/Delete/', false);
    </script>
}